<div class="container">
<h3>Recipe for <%= @recipe.name %> </h3>
<ul>
<% @recipe.ingredients.each() do |ingredient| %>
  <li><%= ingredient.name() %><br>
  </li>
<% end %>
</ul>

<h1>Delete This Recipe</h1>
<form action="/recipes/<%= @recipe.id() %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-lg btn-warning">Delete</button>
</form>
</div>
